<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<br>
<div class="row">
	<h3 class="mb-4">About</h3>
	<div class="mb-5">
		<h5 class="mb-4" style="font-weight: bold;">Kospi</h5>
	    <p>
			<a href="https://finance.naver.com/sise/sise_market_sum.naver" target="_blank">네이버 국내증시</a> 
			페이지에서 상단의 필터를 변경하여 적용한 후 시가총액 상위 50개 기업 정보를 스크래핑
		</p>
		<h5 class="mb-4" style="font-weight: bold;">Q&A</h5>
	    <p>
			CRUD 기능 및 댓글, 좋아요 기능을 갖춘 게시판<br>
			Spring Security 적용 (회원가입 및 로그인)
		</p>
		<h5 class="mb-4" style="font-weight: bold;">Chat</h5>
	    <p>
			WebSocket/STOMP를 이용한 이용자 간 채팅
		</p>
		<h5 class="mb-4" style="font-weight: bold;">AI Chatbot</h5>
	    <p>
			Claude 3.5 Sonnet 모델을 이용한 AI 챗봇
		</p>
		<h5 class="mb-4" style="font-weight: bold;">개발환경</h5>
	    <ul>
			<li>Spring Boot 3.4.5</li>
			<li>Java 17</li>
			<li>Gradle</li>
			<li>Windows</li>
		</ul>
	</div>
</div>
<div class="row">
	<h3 class="mb-4">기술 스택</h3>
	<div class="mb-5">
		<h5 class="mb-4" style="font-weight: bold;">BackEnd</h6>
	    <ul class="list-group list-group-flush">
	    	<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Java</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Spring Boot / Spring Security</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
				<span class="text-decoration-none h6 m-0">Spring Data JPA</span>
			</li>
		</ul>
		<span class="badge badge-primary badge-pill">150</span>
		<h5 class="mb-4" style="font-weight: bold;">Frontend</h6>
	    <ul class="list-group list-group-flush">
	    	<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Thymeleaf</span>
	        </li>
	    	<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">JavaScript</span>
	        </li>
		</ul>
		<span class="badge badge-primary badge-pill">150</span>
		<h5 class="mb-4" style="font-weight: bold;">DB</h6>
	    <ul class="list-group list-group-flush">
	    	<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">MySQL</span>
	        </li>
		</ul>
		<span class="badge badge-primary badge-pill">150</span>
		<h5 class="mb-4" style="font-weight: bold;">ETC</h6>
	    <ul class="list-group list-group-flush">
	    	<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Bootstrap v5.0</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Selenium</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Gradle</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">Git</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center px-0">
	        	<span class="text-decoration-none h6 m-0">STS</span>
			</li>
		</ul>
	</div>
</div>
</div>
</html>